.note{
    border: 1px solid gray;
    padding: 2rem;
    font-size: 1rem;
    color: #333;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: bisque;
    margin-top: 1rem;
}

.high{
        background-color: aquamarine;

}
.medium{
        background-color: azure;

}
.low{
        background-color: tomato;

}